    <!--==============================Footer=================================-->
<footer id="footer" class="c-footer">
    <div class="c-footer__equal-housing-logo"></div>
    <div class="l-row l-row--footer-logo">
        <div class="l-container">
            <div class="c-footer__logo">
                <a href="index.html">Homes.Forsale</a>
            </div>
        </div>
    </div>
    <div class="l-row l-row--copyright">
        <div class="l-container">
            <ul class="l-list l-list--social c-footer__social">
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="images/social/icon-instagram.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="images/social/icon-instagram-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="images/social/icon-twitter.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="images/social/icon-twitter-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="images/social/icon-facebook.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="images/social/icon-facebook-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="images/social/icon-linkedin.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="images/social/icon-linkedin-white.svg" alt="">
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="l-list--social__icon">
                            <img src="images/social/icon-youtube.svg" alt="">
                        </span>
                        <span class="l-list--social__icon--hover">
                            <img src="images/social/icon-youtube-white.svg" alt="">
                        </span>
                    </a>
                </li>
            </ul>
            <div class="c-footer__copyright">
                <p>
                    &copy; Copyright 2017, Real Estate Guides. All rights are reserved.
                </p>
                <p>
                    Updated January 2016: By searching, you agree to the <a href="#">Terms of Use</a>, <a href="#">Privacy Policy</a> and <a href="#">End-User License Agreement.</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!--======================== Sticky Footer ======================================-->
<footer id="footer-mobile" class="c-footer c-footer--mobile c-footer--mobile-agent">
    <div class="c-footer__links c-footer__links--agent">
        <a class="l-link l-link--action l-link--call" href="#"><span>Call</span></a>
        <a class="l-link l-link--action l-link--contact" href="mailto:email@goes.here"><span>Contact</span></a>
        <a class="l-link l-link--action l-link--review" href="#"><span>Leave Review</span></a>
    </div>
    <div class="c-footer__links c-footer__links--property">
        <a class="l-link l-link--action l-link--save" href="#"><span>Save</span></a>
        <a class="l-link l-link--action l-link--agent" href="#"><span>Agent</span></a>
        <a class="l-link l-link--action l-link--direction" href="#"><span>Directions</span></a>
        <a class="l-link l-link--action l-link--share" href="#"><span>Share</span></a>
    </div>
</footer>
