     <!--======================== Mobile Navigation ==================================-->
<div class="c-mobile-wrap">
    <div class="c-mobile-wrap__logo">
        <a href="index.html">
            <span class="c-mobile-wrap__logo-icon"></span>
        </a>
    </div>
    <div class="c-mobile-wrap__nav">
        <ul>
            <li class="has-dropdown form-toggle">
                <span class="has-dropdown__title">My account</span>
                <ul class="l-dropdown--mobile">
                    <li class="notices">
                        <a href="#"><span class="c-header__user-notices c-header__user--has-notices">1</span> Notices</a>
                    </li>
                    <li>
                        <a href="#">Account Settings</a>
                    </li>
                    <li>
                        <a href="#">Saved Searches</a>
                    </li>
                    <li>
                        <a href="#">Viewed Homes</a>
                    </li>
                    <li>
                        <a href="#">Favorited Homes</a>
                    </li>
                    <li>
                        <a href="#">Log Out</a>
                    </li>
                </ul>
            </li>
            <li class="has-dropdown">
                <span class="has-dropdown__title">Buy</span>
                <ul class="l-dropdown--mobile">
                    <li>
                        <a href="#">All Homes</a>
                    </li>
                    <li>
                        <a href="#">New Construction</a>
                    </li>
                    <li>
                        <a href="#">Forclosures</a>
                    </li>
                    <li>
                        <a href="#">Land</a>
                    </li>
                    <li>
                        <a href="#">Recently Sold</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Sell</a>
            </li>
            <li>
                <a href="#">Neighborhood</a>
            </li>
            <li>
                <a href="#">Mortgage</a>
            </li>
            <li class="has-dropdown">
                <span class="has-dropdown__title">Agents</span>
                <ul class="l-dropdown--mobile">
                    <li>
                        <a href="#">Looking for an Agent</a>
                    </li>
                    <li>
                        <a href="#">Advertising Solutions</a>
                    </li>
                    <li>
                        <a href="#">Create Agent Profile</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--======================== Mobile Forms ================================-->
<div class="c-mobile-form-wrap">
    <span class="c-mobile-form__close l-close-btn"></span>
    <div class="c-mobile-form-wrap__inner">
        <form class="l-form l-login-form l-login-form--mobile">
            <div class="l-form__holder">
                <h3>Sign in</h3>
                <div class="l-form__inner">
                    <div class="l-form-row">
                        <div class="l-form-group">
                            <input type="email" class="l-form-control" id="inputEmail_SignInFormMobile" required>
                            <label for="inputEmail_SignInFormMobile" class="l-form-label">email</label>
                            <span class="l-form-control-focus"></span>
                        </div>
                    </div>
                    <div class="l-form-row">
                        <div class="l-form-group">
                            <input type="password" class="l-form-control" id="inputPassword_SignInFormMobile" required>
                            <label for="inputPassword_SignInFormMobile" class="l-form-label">password</label>
                            <span class="l-form-control-focus"></span>
                            <a href="#" class="l-form-link">Forgot Password?</a>
                        </div>
                    </div>
                    <div class="l-form-row l-form-row--submit l-row--center">
                        <button type="submit" class="l-btn l-btn-primary">Sign in</button>
                        <div class="l-form-text">
                            <a href="#" class="l-form-link">Create an Account</a>
                        </div>
                    </div>
                    <div class="l-form-row l-form-row--login-social">
                        <div class="l-divider l-divider--form l-divider--light"><span>or</span></div>
                        <div class="l-form-buttons">
                            <button type="button" class="l-btn l-btn-login l-btn-login--facebook">Sign in with Facebook</button>
                            <button type="button" class="l-btn l-btn-login l-btn-login--google">Sign in with Google</button>
                            <button type="button" class="l-btn l-btn-login l-btn-login--microsoft">Sign in with Microsoft</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
